<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Delete Task</h1></br>
    <h1>
        <a href="/">Insert Tasks</a>
        <a href="/gettasks">List Tasks</a>
        <a href="/updatetask">Update Tasks</a>
        <a href="/deletetasks">Delete Tasks</a>
        <a href="/deletealltasks">Delete All Tasks</a>
        <a href="/insertMany">Insert Many Tasks</a>
    </h1>
    <form action="/deletetaskdata" method="POST">
        Task ID <input type="text" method="POST" name="taskID" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>